In [11]:
import pandas as pd

In [12]:

N = 10
with open('raw_data.csv') as f:  # the a opens it in append mode
    for i in range(N):
        line = next(f).strip()
        print(line)

ï»¿year;Theme name;Sets Name;Sets URL;Part category;Part name;Part material;Part color;RGB;Is Transparent?;Part URL;Set Price;Number of reviews;Star rating
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Dark Blue;0A3463;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Trans-Dark Blue;0020A0;True;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Dark Blue;0A3463;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Bright Green;4B9F4A;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Bright Light Blue;9FC3E9;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Dark Brown;352100;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Brown;583927;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Medium Nougat;AA7D55;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7
2016;Skylines;London;https://cdn.rebrickable.com/media/sets/21034-1.jpg;Plates;Plate 4 x 8;Plastic;Dark Purple;3F3691;False;https://cdn.rebrickable.com/media/parts/elements/303526.jpg;53,3556;23;4,7

In [13]:
input_df = pd.read_csv('raw_data.csv', sep=";")
input_df.head()

c:\Users\andre\Documents\GitHub\Lego sets case study\venv\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (9) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,year,Theme name,Sets Name,Sets URL,Part category,Part name,Part material,Part color,RGB,Is Transparent?,Part URL,Set Price,Number of reviews,Star rating
0,2016,Skylines,London,https://cdn.rebrickable.com/media/sets/21034-1...,Plates,Plate 4 x 8,Plastic,Dark Blue,0A3463,False,https://cdn.rebrickable.com/media/parts/elemen...,"53,3556",23,"4,7"
1,2016,Skylines,London,https://cdn.rebrickable.com/media/sets/21034-1...,Plates,Plate 4 x 8,Plastic,Trans-Dark Blue,0020A0,True,https://cdn.rebrickable.com/media/parts/elemen...,"53,3556",23,"4,7"
2,2016,Skylines,London,https://cdn.rebrickable.com/media/sets/21034-1...,Plates,Plate 4 x 8,Plastic,Dark Blue,0A3463,False,https://cdn.rebrickable.com/media/parts/elemen...,"53,3556",23,"4,7"
3,2016,Skylines,London,https://cdn.rebrickable.com/media/sets/21034-1...,Plates,Plate 4 x 8,Plastic,Bright Green,4B9F4A,False,https://cdn.rebrickable.com/media/parts/elemen...,"53,3556",23,"4,7"
4,2016,Skylines,London,https://cdn.rebrickable.com/media/sets/21034-1...,Plates,Plate 4 x 8,Plastic,Bright Light Blue,9FC3E9,False,https://cdn.rebrickable.com/media/parts/elemen...,"53,3556",23,"4,7"

In [14]:
input_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4698983 entries, 0 to 4698982
Data columns (total 14 columns):
 #   Column             Dtype
---  ------             -----
 0   year               int64
 1   Theme name         object
 2   Sets Name          object
 3   Sets URL           object
 4   Part category      object
 5   Part name          object
 6   Part material      object
 7   Part color         object
 8   RGB                object
 9   Is Transparent?    object
 10  Part URL           object
 11  Set Price          object
 12  Number of reviews  object
 13  Star rating        object
dtypes: int64(1), object(13)
memory usage: 501.9+ MB

In [15]:
input_df.columns

Index(['year', 'Theme name', 'Sets Name', 'Sets URL', 'Part category',
       'Part name', 'Part material', 'Part color', 'RGB', 'Is Transparent?',
       'Part URL', 'Set Price', 'Number of reviews', 'Star rating'],
      dtype='object')

### Looking at sets and not individual pieces so we'll limit the dataset to the specific sets

In [16]:
columns_needed = ['year', 'Theme name', 'Sets Name', 'Set Price', 'Number of reviews', 'Star rating']

set_df = input_df[columns_needed].drop_duplicates().reset_index().drop('index', axis=1)
set_df.head()

,year,Theme name,Sets Name,Set Price,Number of reviews,Star rating
0,2016,Skylines,London,"53,3556",23,"4,7"
1,2017,Friends,Puppy Parade,"14,5111",1,4
2,2016,Angry Birds,Bird Island Egg Heist,"30,5911",2,"4,5"
3,2017,Creator 3-in-1,Green Cruiser,"12,736885714",6,"4,5"
4,2014,Trains,Cargo Train,"224,402361905","35,380952381","4,4"

In [17]:
set_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 750 entries, 0 to 749
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year               750 non-null    int64
 1   Theme name         750 non-null    object
 2   Sets Name          750 non-null    object
 3   Set Price          750 non-null    object
 4   Number of reviews  750 non-null    object
 5   Star rating        750 non-null    object
dtypes: int64(1), object(5)
memory usage: 35.3+ KB

### Cleanup data types

Set price to float <br/>
Number of reviews to int <br/>
Star rating to float <br/>

In [18]:
def review_cleaner(review_input: str):
    return int(review_input.split(",")[0])

In [19]:
set_df['Set Price'] = set_df['Set Price'].str.replace(',', '.').astype(float)
set_df['Number of reviews'] = set_df['Number of reviews'].apply(review_cleaner)
set_df['Star rating'] = set_df['Star rating'].str.replace(',', '.').astype(float)

set_df.head()

,year,Theme name,Sets Name,Set Price,Number of reviews,Star rating
0,2016,Skylines,London,53.355600,23,4.7
1,2017,Friends,Puppy Parade,14.511100,1,4.0
2,2016,Angry Birds,Bird Island Egg Heist,30.591100,2,4.5
3,2017,Creator 3-in-1,Green Cruiser,12.736886,6,4.5
4,2014,Trains,Cargo Train,224.402362,35,4.4

In [20]:
set_df.to_csv('set_lvl_data.csv', index=False)